@import url(https://fonts.googleapis.com/css2?family=Karla&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Cormorant+Infant&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* font: 18px/1.5 'Cormorant Infant'; */
    font: 18px/1.5 'Karla';
}

body{
    display: flex;
    max-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
}

.home{
    display: flex;
    height: 970px;
    /* align-items: center; */
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/poster.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
}

header{
    display: flex;
    width: 100%;
    /* align-items: center; */
    padding: 1em 6em;
    justify-content: space-between;
}

header .logo{
    width: 125px;
    height: auto;
    aspect-ratio: 1/1;
}

header .logo img{
    width: 100%;
    height: auto;
}

header nav{
    position: relative;
    top: 15px;
}

header nav ul{
    display: flex;
    gap: 3em;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    
}

.home main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    padding-top: 50px;
    gap: 7em;
}

.home main h1 {
    font-size: 90px;
    font-family: 'Cormorant Infant';
    margin-bottom: 50px;
}

.home main p {
    width: 60ch;
    text-align: center;
}

.hero{
    display: flex;
    flex-direction: column;
    padding-top: 2em;
    background: #F8F0E9;
    align-items: center;
}

.customer-testimonials{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding:0 20em 7em 25em ;
}
.customer-testimonials h3{
    font-weight: normal;
    padding-bottom: 3em;
}
.customer-testimonials p{
    font-size: 70px;
    width: 30ch;
    font-family: 'Cormorant Infant';
    font-style: italic;
    font-weight: bolder;
    line-height: 0.8em;
}

.support{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 3.5em 0;
    background: #E14747;
    align-items: center;
    color: #fff;
    gap: 2em;
}

.support p:nth-child(1){
    font-weight: bold;
}

.support p:nth-child(2){
    width: 30ch;
    text-align: center;
}

.articles{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5em 0;
    width: 600px;
}

.articles .media{
    width: 100%;
    margin-bottom: 3em;
}

.articles .media img {
    width: 100%;
    height: auto;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3.5em;
}

.content h2{
    font-family: 'Cormorant Infant';
    font-size: 50px;
    line-height: 1em;
    width: 15ch;
    text-align: center;
    margin-bottom: 1.5em;
}

.content-higlights{
    display: flex;
    flex-direction: column;
    gap:  3.5em;
}

.content-higlights a {
    width: fit-content;
}

.articles .button{
    text-decoration: none;
    color: black;
    background: #fff;
    padding: 5px 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.findGuide{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #E14747;
    width: 100%;
    color: white;
}

.findGuide h1{
    font-size: 70px;
    font-family: 'Cormorant Infant';
    padding: 90px;
}

.findGuide p {
    width: 80ch;
    text-align: center;
    margin-bottom: 40px;
}

.findGuide a {
    text-decoration: none;
    color: #000;
    background: #FAD87A;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 40px;
}

footer{
    display: flex;
    flex-direction: column;
    background: #352B2A;
    color: #fff;
    gap: 1em;
    padding: 3em 0 3.5em 8em;
}

footer img {
    width: 90px;
    margin-bottom: 1em;
}

footer p:nth-child(2){
    width: 48ch;
}

footer p:nth-child(3){
    font-size: 15px;
    opacity: 0.5;
}
