
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font: 14px/1.5em sans-serif;
}

body{
    display: flex;
    padding-top: 2em;
    max-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 3em;
    /* height: fit-content; */
}

header{
    display: flex;
    margin-bottom: 3em;
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: space-between;
    padding: 0 10em 0 10em;
}

.companyInitials{
    display: flex;
    width: 30%;
    flex-direction: column;
    font-family: serif;
    gap: 0.5em;
}

.companyInitials p:first-child{
    font-size: 2.5em;
    letter-spacing: 4px;
    font-weight: 700;
    color: blueviolet;
}
.companyInitials p:last-child{
   font-size: 11px;
   text-transform: uppercase;
}

nav{
    display: flex;
    width: 40%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

.websiteNeed{
    display: flex;
    width: 60%;
    height: 25%;
    align-items: center;
    gap:  10rem;
}

.websiteNeed h2{
    font-size: 2.5em;
    margin-bottom: 1em;
    font-family: serif;
}

.websiteNeed p{
   width: 62ch;
   margin-bottom: 1.8em;
}

.websiteNeed .websiteNeedText a{
    text-decoration: none;
    padding: 0.3em;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
}

.icon{
    font-size: 14rem;
}

.team{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 80%;
}
.team h2{
    font: 3em/1.5em serif;
    /* text-decoration: underline;
    text-underline-offset: 30px; */
    position: relative;
}
.team h2::after{
    content: "";
    position: absolute;
    width: 70%;
    height: 1px;
    bottom: -20px;
    left: 15%;
    border-bottom: 4px solid black;
}

.teamContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    width: 100%;
}


.teamCard{
display: flex;
align-items: center;
padding: 0;
width: 33%;
height: 15rem;
justify-content: space-around;
flex-direction: column;
margin: 2em 0;
}

.teamCard .selfie {
    display: block;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.teamCard .selfie img {
    width: 100%;
    height: 100% ;
    border-radius: 50%;
    box-shadow: -1px 2px 20px rgba(0, 0, 0, 0.3);
    outline: 3.5px solid rgba(255, 255, 255, 0.5);
    outline-offset: -3.5px;
    object-fit: cover;
}

.name-position{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamCard p:nth-child(1){
    font-weight: bold;
}

.teamCard p:nth-child(3){
    font-style: italic;
    width: 30ch;
    text-align: center;
}


.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    height: 12rem;
    background-color: #673479;
}
.newsletter h1{
   color: white;
   font: 2em/1em serif;
   position: relative;
}
.newsletter h1::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    bottom: -20px;
    left: 20%;
    border-bottom: 3px solid black;
}
.newsletter h1:before{
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    bottom: -20px;
    right: 30%;
    border-bottom: 3px solid black;
}

.newsletter form{
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
    width: 100%;
}

#newsletter-input{
    width: 15%;
    height: 1.9rem;
}

.newsletter input[type=submit]{
    padding: 0.3em;
}

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    width: 80%;
}

.testimonials h2{
    font: 3em/1.5em serif;
    /* text-decoration: underline;
    text-underline-offset: 30px; */
    position: relative;
}
.testimonials h2::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: -20px;
    left: 25%;
    border-bottom: 4px solid black;
}

.testimonialContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    width: 100%;
}

.testimonialCard{
    display: flex;
    align-items: center;
    padding: 0;
    width: 33%;
    height: fit-content;
    gap: 1em;
    justify-content: space-around;
    flex-direction: column;
    margin: 2em 0;
}

.testimonialCard .selfie {
    display: block;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.testimonialCard .selfie img {
    width: 100%;
    height: 100% ;
    border-radius: 50%;
    box-shadow: -1px 2px 20px rgba(0, 0, 0, 0.3);
    outline: 3.5px solid rgba(255, 255, 255, 0.5);
    outline-offset: -3.5px;
    object-fit: cover;
}

.name-position{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonialCard p:nth-child(1){
    font-weight: bold;
}

.testimonialCard #testimonialQuote{
    font-style: italic;
    width: 31ch;
    text-align: center;
}