*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: #EEE;
    width: 100vw;
    height: 100vh;
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
}

body > * {
    background-color: #fff;
    padding: 1em;
    box-sizing: 0 0 1em 0 rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

body > header, 
body > footer 
{
flex: 1 0 100%;
}
body > main, 
body > aside 
{
min-height: 20em;
}


body > main{
    flex: 1 0 70%;
}

body > aside{
    flex: 1 1 auto;

}